<!DOCTYPE html>
<html>
  <head>
    <title>Address book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <a class="navbar-brand  nav-padding nav-item" href="/">Address book</a>
        <a class="navbar-brand  nav-padding nav-item" href="/contacts/new">New contact</a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
