<h1>New Contact</h1>
{{> inputForm}}
<script type="text/javascript">
  $('#addressDropdown').on('change', function(){
    var addressString = $(this).val();
    console.log(addressString)
    var address = JSON.parse(addressString)
    $('#line_1').val(address.line_1);
    $('#line_2').val(address.line_2);
    $('#city').val(address.city);
    $('#zip').val(address.zip);
  })
</script>
