
.img-size{
  height: 250px;
  width: 200px;
}
.info{
  display: inline-block;
}
.name{
  font-weight: bold;
  font-family: cursive;
  color: #2B3E51;
}
hr.style1 {
	width : 5px;
}

.nav-item {
  font-weight: bold;
  font-family: cursive;
}
